[submodule "dwm"]
	path = dwm
	url = https://github.com/rycamosun/dwm.git
  branch = master
[submodule "st"]
	path = st
	url = https://github.com/rycamosun/st.git
  branch = master
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/rycamosun/dmenu.git
  branch = master
